@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 50% 98%;
    --foreground: 25 18% 25%;
    --card: 45 50% 95%;
    --card-foreground: 25 18% 25%;
    --popover: 45 50% 95%;
    --popover-foreground: 25 18% 25%;
    --primary: 32 91% 37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45 60% 75%;
    --secondary-foreground: 30 6% 35%;
    --muted: 45 50% 90%;
    --muted-foreground: 30 6% 45%;
    --accent: 45 60% 85%;
    --accent-foreground: 30 6% 35%;
    --destructive: 0 70% 35%;
    --destructive-foreground: 0 0% 100%;
    --border: 45 40% 80%;
    --input: 45 40% 80%;
    --ring: 32 91% 37%;
    --chart-1: 120 60% 50%;
    --chart-2: 25 85% 65%;
    --chart-3: 32 92% 33%;
    --chart-4: 30 6% 45%;
    --chart-5: 45 95% 41%;
    --sidebar: 45 50% 90%;
    --sidebar-foreground: 25 18% 25%;
    --sidebar-primary: 32 91% 37%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 32 92% 33%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 45 40% 80%;
    --sidebar-ring: 32 91% 37%;
    --font-sans: Oxanium, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.3rem;
    --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 2px 4px -1px hsl(28 18% 25% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 4px 6px -1px hsl(28 18% 25% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 8px 10px -1px hsl(28 18% 25% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 20 14% 9%;
    --foreground: 0 0% 96%;
    --card: 30 8% 15%;
    --card-foreground: 60 5% 96%;
    --popover: 20 14% 16%;
    --popover-foreground: 0 0% 96%;
    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 18% 25%;
    --secondary-foreground: 0 0% 96%;
    --muted: 20 14% 16%;
    --muted-foreground: 0 0% 63%;
    --accent: 20 14% 16%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 6% 25%;
    --input: 30 6% 25%;
    --ring: 24 95% 53%;
    --chart-1: 24 95% 53%;
    --chart-2: 199 89% 48%;
    --chart-3: 45 93% 47%;
    --chart-4: 30 6% 64%;
    --chart-5: 30 6% 45%;
    --sidebar: 30 8% 15%;
    --sidebar-foreground: 60 5% 96%;
    --sidebar-primary: 24 95% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 199 89% 48%;
    --sidebar-accent-foreground: 210 75% 18%;
    --sidebar-border: 30 6% 25%;
    --sidebar-ring: 24 95% 53%;
    --font-sans: Oxanium, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.3rem;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
  }
  .theme {
    --font-sans: Oxanium, sans-serif;
    --font-mono: Fira Code, monospace;
    --font-serif: Merriweather, serif;
    --radius: 0.3rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
